<section class="about-us bg-black p-32">
  <div class="about-us-wrapper container mx-auto rounded-lg">
    <div class="about-us-content text-white border p-5">
      <h1 class="text-xl">Hakkımda:</h1>
      <p class="mt-10">
        Merhaba, ben Atatürk Üniversitesi Yönetim Bilişim Sistemleri 4. sınıf
        öğrencisiyim. Bilgisayarla tanışmam 7 yaşında başladı ve o günden beri
        teknolojiye olan merakım hiç azalmadı.
      </p>

      <div class="languages mt-10 flex justify-center gap-4">
        <img src="assets/htmlicon.png" alt="html" class="w-[70px]" />
        <img src="assets/cssicon.png" alt="html" class="w-[70px]" />
        <img src="assets/jsicon.png" alt="html" class="w-[70px]" />
        <img src="assets/bootstrapicon.png" alt="html" class="w-[70px]" />
        <img src="assets/sassicon.png" alt="html" class="w-[70px]" />
        <img src="assets/reacticon.png" alt="html" class="w-[70px]" />
        <img src="assets/reduxicon.png" alt="html" class="w-[70px]" />
        <img src="assets/angularicon.png" alt="html" class="w-[70px]" />
      </div>
    </div>
  </div>
</section>
