<section class="news-card">
  <div class="container">
    <h3 class="text-center fw-bold">Haberler</h3>
    <div
      class="card-wrapper d-flex justify-content-center flex-wrap gap-5 mt-5"
    >
      <div class="card">
        <div class="card-img">
          <img src="assets/lastnews.jpeg" alt="" class="img-fluid" />

          <div class="card-content text-center p-3">
            <h2 class="title">Milliyet</h2>
            <p class="desc">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Necessitatibus, eaque?
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img">
          <img src="assets/lastnews.jpeg" alt="" class="img-fluid" />

          <div class="card-content text-center p-3">
            <h2 class="title">Milliyet</h2>
            <p class="desc">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Necessitatibus, eaque?
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img">
          <img src="assets/lastnews.jpeg" alt="" class="img-fluid" />

          <div class="card-content text-center p-3">
            <h2 class="title">Milliyet</h2>
            <p class="desc">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Necessitatibus, eaque?
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img">
          <img src="assets/lastnews.jpeg" alt="" class="img-fluid" />

          <div class="card-content text-center p-3">
            <h2 class="title">Milliyet</h2>
            <p class="desc">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Necessitatibus, eaque?
            </p>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-img">
          <img src="assets/lastnews.jpeg" alt="" class="img-fluid" />

          <div class="card-content text-center p-3">
            <h2 class="title">Milliyet</h2>
            <p class="desc">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Necessitatibus, eaque?
            </p>
          </div>
        </div>
      </div>
      <div class="card rounded-md">
        <div class="card-img">
          <img src="assets/lastnews.jpeg" alt="" class="img-fluid" />

          <div class="card-content text-center p-3">
            <h2 class="title">Milliyet</h2>
            <p class="desc">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Necessitatibus, eaque?
            </p>
          </div>
        </div>
      </div>

      <div class="card rounded-md">
        <div class="card-img">
          <img src="assets/lastnews.jpeg" alt="" class="img-fluid" />

          <div class="card-content text-center p-3">
            <h2 class="title">Milliyet</h2>
            <p class="desc">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Necessitatibus, eaque?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
