<section class="news-card">
  <div class="container">
    <h3 class="text-center fw-bold">Haberler</h3>
    <div
      class="card-wrapper d-flex justify-content-center flex-wrap gap-5 mt-5"
    >
      <div class="card" *ngFor="let newsItem of newsData">
        <div class="card-img">
          <img
            src="{{
              newsItem.urlToImage ? newsItem.urlToImage : 'assets/lastnews.jpeg'
            }}"
            alt=""
            class="img-fluid"
          />

          <div class="card-content text-center p-3">
            <h2 class="title">{{ newsItem.author }}</h2>
            <p class="desc">
              {{ newsItem.title }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
