<nav class="navbar bg-blue-900 p-3">
  <div class="navbar-wrapper container mx-auto flex justify-between">
    <div class="logo">
      <h1 class="text-3xl font-bold text-white">Onur Ardıç</h1>
    </div>

    <ul class="navbar-items flex gap-3">
      <li
        class="navbar-item text-white transition text-md rounded-sm border p-2 hover:bg-white hover:text-black"
      >
        <a href="#">Anasayfa</a>
      </li>
      <li
        class="navbar-item text-white transition text-md rounded-sm border p-2 hover:bg-white hover:text-black"
      >
        <a href="#">Hakkımda</a>
      </li>
      <li
        class="navbar-item text-white transition text-md rounded-sm border p-2 hover:bg-white hover:text-black"
      >
        <a href="#">Portfolio</a>
      </li>
    </ul>
  </div>
</nav>
